@import url('https://fonts.googleapis.com/css?family=Comfortaa:regular,bold,italic');
body{
    background: rgb(22, 24, 29)!important;
}
.heading{
    background: rgb(22, 24, 29)!important;

}
.sc-gtsrHT{
    color:     #0DBAFF  !important;
}

