.container
{
    width: 100%;
    height: 30vh;
    display: block;
}

.footer-top{
    height: 25%;
    width: 100%;
     display: grid;
    align-items: center;
    text-align: center;
}

.footer-bottom
{
    height: 80%;
    width: 100%;
    background-image: url("../images/bottom-img.png"); 
    background-size: 50%;
    background-color: #16181D;
    align-items: center;
    text-align: center;
}
.title_1{
    font-family: Comfortaa !important;
font-style: normal;
font-weight: bold;
text-align: center;
letter-spacing: 0.6px;

color: #FFFFFF !important;
}

.title_2{
    font-family: Comfortaa !important;
font-style: normal !important;
font-weight: normal !important;

/* or 163% */

text-align: center;
letter-spacing: 0.016px;

color: #A1ABBD;
}

.icon{
    width: 40px;
    height: 40px;
}

.bottom_1{
    height: 20%;
    width: 100%;
}
.bottom_2{
    height: 40%;
    width: 100%;
    padding-top: 50px;
}

.bottom_3{
    height: 40%;
    width: 100%;
}


.bottom_2 a{
    margin: 17px;
}
.icon_1{
    width: 22px;
    height: auto;
}

.bottom_3 p span
{
    font-style: normal !important;
font-weight: normal !important;
font-size: 13px !important;
line-height: 23px !important;
text-align: center !important;
letter-spacing: 0.016px !important;

}

.sp_1{
    color: #FFFFFF !important;
}
.sp_2 {
    color: #C3C9D4 !important;
}



@media (min-width: 1000px) {   
    .title_1 {
        font-size: 30px;
        line-height: 39px;
    }
    .title_2{
        font-size: 16px;
line-height: 26px;
    }
}


@media (max-width: 1300px ) {   

    .title_1 {
        font-size: 25px;
    }
    .title_2{
        font-size: 15px;
    }
    .icon
    {
        margin-top: 30px;
    }
}


@media (max-width: 420px ) {   
    .title_1 {
        font-size: 15px;
    }
    .title_2{
        font-size: 10px;
    }
    
}
