
@import url('https://fonts.googleapis.com/css?family=Comfortaa:regular,bold,italic');
.sc-hBEYos{
    background: rgba(255, 255, 255, 0.15) !important; 
    box-shadow: 0px 2px 12px rgba(25, 19, 38, 0.1) !important;
    border-radius: 32px !important;
    color: #0DBAFF !important;  
}

.sc-gsTCUz {
    color: #0DBAFF !important;  
    font-family: Comfortaa !important;
}
.sc-gsTCUz{
color: #0DBAFF !important;
font-family: Comfortaa !important;
}

/* .gMLKpF
{
    background: #131313 !important; 
    border-radius: 32px !important;
    font-family: Comfortaa !important;
} */

.sc-gsTCUz
{
color: #0DBAFF !important;
}
.dILQHH{
    background:  #0DBAFF !important;

}

.hjeJVG{
    background:  #0DBAFF !important;
}

.sc-dlfnbm {
color: #0DBAFF;
font-family: Comfortaa !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 16px !important;
}

.sc-gsTCUz {
  
    font-family: Comfortaa !important;
}
.sc-kBPbqO
{
    font-family: Comfortaa !important;
    height: 100% !important;
    /* margin-top: 50px; */
   
}
.sc-hBEYos {
    position: relative;
    max-width: 436px;
    width: 100%;
    z-index: 5;
    height: 100% !important;
    font-family: Comfortaa !important;
}


.evumGo
{
    /* background: rgba(240, 251, 255, 0.8) !important; */
    background: #131313 !important;
    font-family: Comfortaa !important;
}

/* .IBCCR 
{
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    
    text-align: center !important;
    letter-spacing: 0.48px !important;
    color: #000000 !important;
} */

.sc-gsTCUz {

    font-family: Comfortaa !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 22px !important;
/* identical to box height, or 110% */


color: #0DBAFF !important;
}

.dmcAqs{
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 22px !important;
    /* identical to box height, or 110% */
    
    
    color: #0DBAFF !important;
}


.sc-bqyKva {
    background-color: #15303f !important;
    font-family: Comfortaa !important;
}
#root {
    color: #0DBAFF !important;
    font-family: Comfortaa !important;
    background: #16181D !important;
}

.cmgQZW{

    font-family: Comfortaa !important;
font-style: normal!important;
font-weight: normal !important;
font-size: 18px !important;
line-height: 16px !important;
/* identical to box height, or 89% */

text-align: center !important;
letter-spacing: 0.48px !important;

color: #004F6F !important;
}

.ZRTkq{
    
    font-family: Comfortaa !important;
font-style: normal!important;
font-weight: normal !important;
font-size: 18px !important;
line-height: 16px !important;
/* identical to box height, or 89% */

text-align: center !important;
letter-spacing: 0.48px !important;

color: #004F6F !important;
}

.dgeWbl {
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    line-height: 21px !important;
    /* identical to box height, or 162% */
    
    
    color: #0DBAFF !important;
} 

.eSUmRK{
    font-family: Comfortaa !important;
    font-style: normal!important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 16px !important;
    /* identical to box height, or 89% */
    
    text-align: center !important;
    letter-spacing: 0.48px !important;
    
    color: #004F6F !important;
}
.ekvOwU {

    color: #0DBAFF !important;
}

.sc-gsTCUz{
    
font-family: Comfortaa !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 16px !important;
line-height: 21px !important;
/* identical to box height, or 131% */



} 

.sc-eishCr{

    font-family: Comfortaa !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 16px !important;
line-height: 21px !important;
/* identical to box height, or 131% */


color: #000072 !important;

}

/* .fgiAxh 
{
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 21px !important; 
   
} */
.sc-bdfBwQ {
    fill: #0DBAFF !important;
    font-family: Comfortaa !important;
}
/* .jcQTaw {
    color: #000000 !important;
} */



::-webkit-scrollbar-thumb {
    background : white !important;
    border-radius: 8px;
}

.sc-gJrzqj 
{
    font-family: Comfortaa !important;
     /* padding: 70px 0px 0px 0px !important;  */
  
}

/* .fDZFAh {
    color: #0DBAFF !important;
    font-family: Comfortaa !important;
}
.krHdxM{
    color: #0DBAFF !important;
} */
.sc-bdfBwQ{
    fill: #0DBAFF !important;
}
 .detail_swap{
    color: #C3C9D4 !important;
   }

   .detail_liquidity{
    color: #0DBAFF !important;
   }

   .coDfVO
   {
    color: #0DBAFF !important;
   }
   .fwbsDm
   {
    color: #0DBAFF !important;
   }

   .kZvVkL
   {
    color: #0DBAFF !important;
   }

   .price_info{
    color: #000072 !important;
   }


   .currency_label{
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #000072 !important;
   }

   .open-currency-select-button
   {
    font-family: Comfortaa !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #000072 !important;
   }

   /* .sc-hzMMCg{
    background: #131313 !important;  
   }
   .sc-tYoTV
   {
    background: #131313 !important;  
   } */

   /* .row_between{
      background: #eeeaf4 !important;
   } */
   .sc-irlOZD{
    background: #131313 !important;  
   }

   .button_max{
      color: #05E300 !important;
      font-family: Comfortaa !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 16px !important;
        line-height: 21px !important;
   }

   .sc-cjHJEj{
    color: #0DBAFF !important;
   }

   .sc-jHVexB{
    background: #131313 !important;  
   } 

  /* .sc-kUbhmq {
    background:rgba(240, 251, 255, 0.8) !important;
   }
 */
   .sc-eWvPJL{
    background: #F0FBFF !important;     
   } 

   /* .sc-eCssSg{
    background: #131313 !important;    
   } */

   .sc-bqyKva a {
       color: white !important;
   }
   .sc-jrAGrp{
    font-family: Comfortaa !important;
    font-style: normal!important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 16px !important;
    text-align: center !important;
    letter-spacing: 0.48px !important;
    color: #004F6F !important;
   }

   @media (max-width: 1000px)
   {
    .sc-kBPbqO{
        padding-top: 80px;
        }
   }